{% extends "layout.html" %}
{% block content %}
<h1>About</h1>
	<body>
	<div class="content-section">
	<p>Animal House location: B Floor between B33 & B34</p>
	<p>Laura Leebody is the Animal House technician</p>	
	<h3>Basic Information</h3>
	<p>The Bangor Animal House is equipped with a range of animals designed to best suit your learning needs.</p>
	<p><strong>2 Mammals:</strong> Guinea Pigs, and mice.</p> 
	<p><strong>5 Reptiles:</strong> Leopard Gecko, Crested Gecko, Corn Snake, Bearded Dragon and Tortoise.</p> 
	<p><strong>3 Amphibians:</strong> African Clawed frogs, an Axolotl and a Tiger Salamander.</p> 
	<p><strong>3 Invertebrates:</strong> Curly hair tarantula, Whip scorpion and Giant African Land Snails.</p> 
	<p>There  is also a range of feeder insects.</p> 
	<h3>Work Placement Hours</h3>
	<p>	You can gain work placement hours by volunteering with Laura, but only if you are needed. 
		It is your responsibility to sign in & out and get those hours signed by Laura.
		Work placement in Bangor Animal House, works on a 3 strike rule, sickness and lateness 3 times will see you removed from placement regardless of medical exemption. 
	</p>
	<h3>Animal House Rules</h3>
	<p>You will be given a copy of the Animal House Rules.</p>
	<p>You will be asked to read these and acknowledge that you have read and understood them by way of a sign off sheet.</p>
	<p><strong>No student without tetanus evidence will be allowed to work in the animal house.</strong></p>
	<p><strong>If you are seen to be disregarding the rules, causing an issue to yourself, others or animals, you will be asked to leave the Animal House immediately.</strong></p>
	<h3>Animal Requests</h3>
	<p>	Animals in our Animal House are all our responsibilities and they need to go home at holidays, please see holiday request sheet on the Animal house Moodle page to add your interest. 
	</p>
	<p> If more than one request comes in for 1 animal, then the name of the student will be drawn from a hat.</p>
	<h3>Practicals and working in the animal house.</h3>
	<p>As per Animal House Rules, health and safety must be followed at all times when doing any thing in the animal house.</p>
	<p>Lab coats and gloves, should be worn at all times!</p>
	<p>Never pick up animals and carry them round the room!</p>
	<p>Getting pictures for your practical’s is YOUR responsibility and these will have a limited repeat option.</p>
	<p>Familiarise yourself with the contents of drawers and cupboards and make sure anything that you take out goes back to its original place.</p>
	<h4>Downloads</h4>
	<a href="/static/pdfs/WelfarePolicy.pdf" download="WelfarePolicy">Welfare Policy</a><br>
	<a href="/static/pdfs/RiskAssessment.pdf" download="RiskAssessment">RiskAssessment</a><br>
	<a href="/static/pdfs/HouseRules.pdf" download="HouseRules">House Rules</a><br>
	<a href="/static/pdfs/SignOffSheet.pdf" download="SignOffSheet">Sign Off Sheet</a><br>
	</body>
	</div>
{% endblock content %}
