{% extends "layout.html" %}
{% block content %}
<h1>Home</h1>
  <div style="float:left;">
    <form action="/updateanimal">
        <button class="button button2" href="{{ url_for('main.home') }}">Update Animal</button>
    </form>
  </div>
  <div style="float:left;">
    <form action="/animal/new">
        <button class="button button2">Add New Animal</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="content-section">
            <h3>Current Animals </h3>
            {% for row in animal_grid %}
            <div>
              {% for cell in row %}
                  <body>{{ cell }} </body>
                {% endfor %}
            </div>
            {% endfor %}
  </div>
{% endblock content %}