{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<div class="row">
		<div class="col-12">
			<h2>Generate a QR code</h2>
		</div>
		<form action="/converted" method="post">
			<input type="text" class="form-control" placeholder="enter text" name="Test" required="required" />
			<button class="btn btn-primary" value="Generate QR" type="submit">Create</button>

		</form>
	</div>
	<div class="Generator">
		<img id="qr" src="" width="50%">
	</div>
</div>
{% endblock content %}